<!doctype html>
<html ng-app="exchangeApp">

<head>
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>

<body ng-controller="newController">
    <!-- <div>
        <ng-include src="'app/views/newExchange.html'"></ng-include>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h4>Currency Exhange</h4>
                <p>Base currency: <span class="label label-primary">{{base}}</span></p>
                <div class="row">
                    <div class="col-md-2">
                        <label>Amount:</label>
                        <input type="number" ng-model="amount" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Search:</label>
                        <input ng-model="searchCurrency" class="form-control" placeholder="Search currency" />
                    </div>
                    <br>
                </div>
                <br>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Currency</th>
                        <th>Amount</th>
                    </tr>
                    <tr ng-repeat="(key,value) in rates" ng-show="([key] | filter:searchCurrency).length > 0">
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

    <script src="angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/newController.js"></script>
    <script src="app/services/exchangeService.js"></script>
</body>

</html>