<!doctype html>
<html ng-app="customersApp">

<head>
    <link rel="stylesheet" href="css/bootstrap.css">

    <script src="jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="angular.min.js"></script>
</head>

<body ng-controller="CustomersController">
    <!-- <div ng-view></div> -->
    <h2>Customers</h2>
    Filter: <input type="text" ng-model="customerFilter.name" />
    <br /><br />
    <table>
        <tr>
            <th ng-click="doSort('name')">Name</th>
            <th ng-click="doSort('city')">City</th>
            <th ng-click="doSort('orderTotal')">Order Total</th>
            <th ng-click="doSort('joined')">Joined</th>
        </tr>
        <tr ng-repeat="cust in customers">
            <td>{{ cust.name }}</td>
            <td>{{ cust.city }}</td>
            <td>{{ cust.orderTotal}}</td>
            <td>{{ cust.joined | date }}</td>
        </tr>
    </table>
    <br />
    <span>Total customers: {{ customers.length }}</span>

    <script src="app/app.js"></script>
    <script src="app/controllers/customersController.js"></script>
    <script src="angular-route.js"></script>
    <script src="app/services/customersService.js"></script>
</body>

</html>