<h5 class="CurrencyText">Rates</h2>

    <select class="CurrencyText" ng-model="Currency" ng-change="selectedItemChanged(Currency)">
  
  <option ng-repeat="(key, value) in rates" value="{{key}}">{{key}} </option>
  <!-- <input type="text" ng-model="CurrencyValue"> -->
</select>
    <input type="text" ng-model="CurrencyValue">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Currency</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <tr ng-repeat="(key, value) in rates">

                    <td> {{key}} </td>
                    <td> {{ value }} </td>
                </tr>
                <tr>
                    <td>Date </td>
                    <td> {{date}}</td>
                </tr>
                <tr>
                    <td>Base Currency </td>
                    <td>{{base}}</td>
                </tr>
            </tr>

        </tbody>
    </table>